
.topSteppers, .challengesContainer, .teamStepCount {
  margin-top: 2.5rem;
}

.leaderBoard {
  margin-top: 1rem;
}

.avatar, .topSteppersAvatar{
  object-fit: cover;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: inline-block;
  position: relative;
}

.stepperPaper {
  padding: .25rem;
  margin-right: .2rem;
  text-align: center;
}

.btns {
  text-align: center;
  margin-top: 1.5rem;
}

.logoutBtn, .rulesFaqBtn {
  display: inline-block;
  margin: 5px;
  text-align: center;
}