.teamForm {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.createPageLogoDiv {
    text-align: center;
}

.createPageLogo {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 300px;
}

.createTeamName {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.createTeamPageSelectContest {
    margin-top: 1rem;
}

.dropzoneUploader {
    margin-top: 1rem;
}

.react-dropzone-s3-uploader {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.createTeamfooter {
    background-color: #F3F3F3;
    padding-top: 5px;
    padding-bottom: 5px;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
}


.btn_asLink {
    margin: 5px;
}