.adminContestDescriptionHeader, .adminContestDescriptionTable {
    text-align: left;
    margin-top: 2rem;
    width: 90%;
    border-collapse: collapse;
}

.adminContestDescriptionTable td, .adminContestDescriptionTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .exportToCsvLink, .closeContestBtn {
        display: inline-block;
        margin: 10px;
  }

  .adminContestImagesHeader {
    text-align: center;
    margin-top: 2rem;
}

.adminDeletePhotoBtn {
    text-align: right;
    margin-bottom: .5rem;
}

.adminContestImageFeedInfo {
    margin-top: 1rem;
    text-align: left;
    display: inline-block;
    margin-left: 1.5rem;
}