.pwLogo {
    margin-top: 2rem;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.joinTeamLink {
    margin-top: 3.5rem;
    margin-bottom: 7rem;
}

.createTeamLink {
    margin-top: 4rem;
}

#createJoinFooter {
    position: fixed;
    bottom: 3rem;
    width: 100%;
} 