
.adminContestTable, .csvDiv, .adminContestHeader {
    width: 90%;
    border-collapse: collapse;
}

.adminContestHeader {
    text-align: left;
    margin-top: 2rem;
}

.adminContestTable td, .adminContestTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.csvDiv {
    text-align: right;
    margin-top: 10px;
}
