.imageFeed, .imageFeedCard  {
    display: inline-block;
}

.landscape {
    position: relative;
    display: inline-block;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    top: 0;  
    bottom: 0;  
    right: 0;  
    margin: auto;
}

.portrait {
    overflow: hidden;
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.dailyChallengeImageContainer {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.dailyChallengeImage {
    overflow: hidden;
    /* max-height: 100%;  */
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.imageFeedCard {
    text-align: left;
    margin: 5px;
    margin-bottom: .5rem;
}

.imageFeedContainer {
    text-align: center;
}

.feedInfo {
    text-align: left;
    margin-top: 5px;
    display: inline-block;
    margin-left: .5rem;
}

.feedAvatarDiv {
    display: inline-block;
    margin-right: 15px;
    margin-top:5px;
}

.feedAvatar {
    object-fit: cover;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: inline-block;
  }

.feedDescription {
   display: inline-block;
   margin-left: 2rem;
   margin-bottom: 5px;
}