.imageFeed, .imageFeedCard  {
    display: inline-block;
}

.imageFeedCard {
    text-align: left;
    margin: 5px;
}

.imageFeed {
    text-align: center;
}

.feedInfo {
    text-align: left;
}

.feedAvatarDiv {
    display: inline-block;
    margin-right: 30px;
}

.feedAvatar {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    /* position: relative; */
  }

.feedDescription {
   display: inline-block;
}