.scrollingFooter {
    width: 100%;
    /* padding: 10px; */
    position: fixed;
    bottom: 0;
    transition: bottom 0.6s;
    text-align: center;
    background-color: #e5f1fc;
  }
  
  .scrollingFooter--hidden {
    bottom: -50px;
  }

  .footerIconGroup {
    display: inline-block;
    margin: 10px;
  }
  
  @media only screen and (max-width: 400px) {
    .footerIconGroup {
      margin: 5px;
    }
  }
  
  @media only screen and (max-width: 289px) {
    .scrollingFooter {
      display: none;
    }
  }
  
  .footerCaption {
    display: flex;
  }