.footerIconGroup {
  display: inline-block;
  margin: 10px;
}

@media only screen and (max-width: 400px) {
  .footerIconGroup {
    margin: 5px;
  }
}

@media only screen and (max-width: 289px) {
  .footerIconGroup {
    display: none;
  }
}

.footer {
  background-color: #F3F3F3;
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
}

.footerContainer .MuiSvgIcon-root {
  width: 1.3em;
  height: 1.3em;
}

.footerCaption {
  display: block;
}