.createContestFormPanel {
    box-sizing: border-box;
    width: 50%;
    max-width: 100%;
    padding: 25px;
    margin: 1rem auto 20px;
    border-radius: 3px;
}

.adminContestNameInput {
    margin-top: 10px;
}

.adminCreateContestStartEndDates {
    margin-top: 1rem;
}

.createContestBtn {
    margin-top: 2rem;
}