.rulesFaq {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pdf {
    width: 50%;
}

.userRulesHeader {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.userFaqHeader {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
