.submitPhotoSection {
    padding: 1rem;
    text-align: center;
}

.cancelSubmitBtnGroup{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.selectImageBtn {
    margin-top: .2rem;
}

.previewImage img{
    width: 100%;
}

.previewImage {
    margin: auto;
    width: fit-content;
    height: fit-content;
}